<div class="row">
  <div class="col-9">
      <div *ngIf="displayType=='grid'" class="row">
          <div *ngFor="let movie of data;" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="card">
                  <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{movie.synopsis}}</p>
                  </div>
              </div>
          </div>
        </div>
        <div *ngIf="displayType=='list'" class="row">
          <table class="table" style="max-width: 100%">
            <tbody>
              <tr *ngFor="let movie of data;" class="movie-card">
                <td width="15%"><img src="{{movie.poster}}" alt="poster" class="list-poster-thumbnail"></td>
                <td width="60%">
                    <span class="movie-title">{{movie.name}}</span>
                    <br><span class="synopsis-area">{{movie.synopsis}}</span>
                </td>
                <td width="25%">
                  <i class="fa fa-heart"></i> {{movie.likes | number}}
                  <br><i class="fa fa-eye"></i> {{movie.views | number}}
                  <br><i class="fa fa-bookmark"></i> {{movie.category}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
  <div class="col-3">
    <div class="row dropdown-container">
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
              <span *ngIf="displayType=='grid'"><i class="fa fa-th"></i></span>
              <span *ngIf="displayType=='list'"><i class="fa fa-list"></i></span>
              <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="displayType='grid'"><i class="fa fa-th"></i> Grid View</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="displayType='list'"><i class="fa fa-list"></i> List View</a></li>
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>
