.card-body{
  padding: 0.5rem;
}

.btn-display-toggle{
  float: right;
}

.dropdown-container{
  display: block;
  text-align: right;
}

.list-poster-thumbnail{
  max-height: 150px;
  width: auto;
  border-radius: 8px;
}

.movie-title{
  font-weight: bolder;
  font-size: 2rem;
}

.movie-card{
  border: none;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #80808066;
  border-radius: 8px;
}

.movie-card:hover{
  background-color: #e6e2e246;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(115,114,115,1);
  -moz-box-shadow: 4px 6px 5px 0px rgba(115,114,115,1);
  box-shadow: 4px 6px 5px 0px rgba(115,114,115,1);
}

.fa-heart{
  color: #f00;
}

.fa-blue{
  color: blueviolet;
}

.fa-bookmark{
  color: brown
}

.card{
  margin-bottom: 0.2rem;
}

.card:hover{
  background-color: #e6e2e246;
  cursor: pointer;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(115,114,115,1);
  -moz-box-shadow: 4px 6px 5px 0px rgba(115,114,115,1);
  box-shadow: 4px 6px 5px 0px rgba(115,114,115,1);
}

.card-text {
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* place for '...' */
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.modal-poster{
  max-width: 90%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 8px;
}

.poster-overlay{
  width: 100%;
  bottom: 7rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.815);
  display: none;
  visibility: hidden;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.897);
}

.modal-body:hover .poster-overlay{
  display: flex;
  flex-wrap: wrap;
  visibility: visible;
}

.modal-body:hover .fa-eye{
  color: yellow;
}

.modal-body:hover .fa-bookmark{
  color: blue;
}

.data-list-title{
  background-color: #e6e2e246;
  border-top: 1px solid rgb(225, 219, 219);
  border-bottom: 1px solid rgb(225, 219, 219);
  margin-top: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.data-list{
  margin-bottom: 0.5rem;
}

.data-list ol li{
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px;
  margin-left: -40px;
}

.data-list ol li:hover{
  background-color: #fdb2b246;
  cursor: pointer;
}

.data-list ol li img{
  max-width: 40px;
  height: auto;
  border-radius: 4px;
}

li .fa-eye{
  color: brown;
}
