<app-layout>
    <!-- <div class="row" style="text-align: right">
        <button type="button" class="btn btn-primary active">Active Primary</button>
        <button type="button" class="btn btn-primary" disabled>Disabled Primary</button>
    </div>
    <div *ngIf="displayType=='grid'" class="row">
      <div *ngFor="let movie of data;" class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="card">
              <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{movie.synopsis}}</p>
              </div>
          </div>
      </div>
    </div> -->
    <!-- <div *ngIf="displayType=='list'" class="row">
      <div class="col-12 row" *ngFor="let movie of data;">

      </div>
    </div> -->
    <router-outlet></router-outlet>
</app-layout>
